# Maven artifacts
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/.maven-wrapper.properties

# Eclipse IDE
.metadata
.classpath
.project
.settings/
*.launch
*.sublime-workspace

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# OS files
Thumbs.db
Desktop.ini
.DS_Store
